{% extends "base.html" %}

{% block title %}Add{% endblock %}

{% block page_content %}
<form method="POST">
{{ form.hidden_tag() }}
{{ form.question.label }} {{ form.question }}
{{ form.answer.label }} {{ form.answer }}
{{ form.submit() }}
</form>

<link rel="stylesheet"
      href="{{ url_for('static', filename='simplemde/dist/simplemde.min.css') }}">
<script src="{{ url_for('static', filename='simplemde/dist/simplemde.min.js') }}"></script>

<script>
  new SimpleMDE({
  element: document.getElementById("question"),
  spellChecker: false,
  });

  new SimpleMDE({
  element: document.getElementById("answer"),
  spellChecker: false,
  });
</script>

{% endblock %}
