{% extends "base.html" %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='highlight/src/styles/default.css') }}">

{% endblock %}

{% block title %}Learn{% endblock %}

{% block page_content %}

<div id="question">{{ question | safe }}</div>

<details>
  <summary>
    <center>
      <button class=="pure-button pure-button-active">
        Look at the answer after think about it
      </button>
    </center>
  </summary>

<div id="out-answer">
<form method="POST">
  {{ form.hidden_tag() }}

  {{ form.submit7(class_="pure-button pure-button-active") }}
  {{ form.submit6(class_="pure-button pure-button-active",
  style="float: right;") }}
  <div id="answer">{{ answer | safe }}</div>
  {{ form.submit0(class_="pure-button pure-button-active") }}
  {{ form.submit1(class_="pure-button pure-button-active") }}
  {{ form.submit2(class_="pure-button pure-button-active") }}
  {{ form.submit3(class_="pure-button pure-button-active") }}
  {{ form.submit4(class_="pure-button pure-button-active") }}
  {{ form.submit5(class_="pure-button pure-button-active") }}
</form>
</div>
</details>

  <script src="{{ url_for('static', filename='highlight/src/highlight.pack.js') }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    showProcessingMessages: false,
    messageStyle: "none",
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });
</script>
  <script src="{{ url_for('static', filename='mathJax/MathJax.js') | safe}}"
	  type="text/javascript"></script>

{% endblock %}
