{% extends "base.html" %}

{% block title %}Learn{% endblock %}

{% block page_content %}
{{ question | safe }}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{{ answer | safe }}
<br>
<form method="POST">
{{ form.hidden_tag() }}
{{ form.submit0() }}
{{ form.submit1() }}
{{ form.submit2() }}
{{ form.submit3() }}
{{ form.submit4() }}
{{ form.submit5() }}
</form>
{% endblock %}
