{% extends "base.html" %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='highlight/styles/default.css') }}">
{% endblock %}

{% block title %}Learn{% endblock %}

{% block page_content %}
{{ question | safe }}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{{ answer | safe }}
<br>
<form method="POST">
{{ form.hidden_tag() }}
{{ form.submit0() }}
{{ form.submit1() }}
{{ form.submit2() }}
{{ form.submit3() }}
{{ form.submit4() }}
{{ form.submit5() }}
{{ form.submit6() }}
{{ form.submit7() }}
</form>


  <script src="{{ url_for('static', filename='highlight/highlight.pack.js') }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });
</script>
  <script src="{{ url_for('static', filename='mathJax/MathJax.js') | safe}}"
	  type="text/javascript"></script>

{% endblock %}
