{% extends "base.html" %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='highlight/src/styles/default.css') }}">

{% endblock %}

{% block title %}Learn{% endblock %}

{% block page_content %}

<div id="question">{{ note_content | safe }}</div>



  <script src="{{ url_for('static', filename='highlight/src/highlight.js') }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    showProcessingMessages: false,
    messageStyle: "none",
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });
</script>
  <script src="{{ url_for('static', filename='mathjax/MathJax.js') | safe}}"
	  type="text/javascript"></script>

{% endblock %}
